@page "/"

<h1>Create user account</h1>

<EditForm Model="@registration" OnValidSubmit="@HandleValidSubmit">
    <p>
        Username: <input bind-value-oninput="registration.UserName" class="@context.ClassName(FieldIdentifier.Create(registration, nameof(registration.UserName)))" />
    </p>
    <p>
        Accept terms: <input type="checkbox" bind="registration.AcceptsTerms" class="@context.ClassName(FieldIdentifier.Create(registration, nameof(registration.AcceptsTerms)))" />
        <ValidationMessage For="FieldIdentifier.Create(registration, nameof(registration.AcceptsTerms))" />
    </p>
    <p>
        <button type="submit">Submit</button>
    </p>

    <DataAnnotationsValidator />
    <ValidationSummary />
</EditForm>

@functions {
    UserRegistration registration = new UserRegistration();

    void HandleValidSubmit(EditContext editContext)
    {
        Console.WriteLine("You did submit");
        editContext.ClearModifications();
    }
}
