@using Microsoft.AspNetCore.Components.Forms
@implements IDisposable

@if (!EditContext.IsValid())
{
    <ul class="validation-summary">
        @foreach (var message in EditContext.ValidationErrorMessages())
        {
            <li>@message</li>
        }
    </ul>
}

@functions  {
    [CascadingParameter] EditContext EditContext { get; set; }

    protected override void OnInit()
    {
        EditContext.ValidationPerformed += StateHasChanged;
    }

    void IDisposable.Dispose()
    {
        EditContext.ValidationPerformed -= StateHasChanged;
    }
}
