@using Microsoft.AspNetCore.Components.Forms
@implements IDisposable

@if (!EditContext.IsValid())
{
    <ul class="validation-summaru">
        @foreach (var message in EditContext.ValidationErrorMessages())
        {
            <li>@message</li>
        }
    </ul>
}

@functions  {
    [CascadingParameter] EditContext EditContext { get; set; }

    protected override void OnInit()
    {
        EditContext.ValidationResultsChanged += StateHasChanged;
    }

    void IDisposable.Dispose()
    {
        EditContext.ValidationResultsChanged -= StateHasChanged;
    }
}
