@using Microsoft.AspNetCore.Components.Forms
@implements IDisposable

@if (For.Model != null)
{
    foreach (var message in EditContext.ValidationErrorMessages(For))
    {
        <span class="error">@message</span>
    }
}

@functions  {
    [CascadingParameter] EditContext EditContext { get; set; }
    [Parameter] FieldIdentifier For { get; set; }

    protected override void OnInit()
    {
        EditContext.ValidationPerformed += StateHasChanged;
    }

    void IDisposable.Dispose()
    {
        EditContext.ValidationPerformed -= StateHasChanged;
    }
}
